*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topnav {
    background-color: rgb(39, 38, 38);
    align-items: center;
    width: 100%;
    height: 90px;
}
.upper {
    display: flex;
    width: 100%;
}
.sign {
    padding-left: 50px;
    color: white;
    align-items: center;
    padding-top: 20px;
    width: 45%;
}
.home-image {
    align-items: center;
    width: 30%;
}
.unlimited {
    color: white;
    align-items: center;
    padding-top: 10px;
}
.marv {
    align-items: center;
    padding-top: 10px;
    color: white;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 12px;
}
.las {
    padding-left: 5px;
}
.subs {
    align-items: center;
    color: white;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 9px;
    padding-left: 25px;
}
.search {
    padding-left: 30px;
    padding-top: 5px;
    color: white;
}
.lower {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    width: 65%;
    color: white;
}
.vcc {
    padding-left: 20px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-top: 7px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}
.hero {
    background-image: url("file:///C:/Users/Uba%20Rabi'u/Documents/Codewithjameel/Assignments/5%20Websites%20Assign/Marvel%20Insider/pic-marvelinsider-background.webp");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.get-reward {
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 44px;
    font-size: 44px;
    letter-spacing: 0.5px;
    padding-top: 20px;
}
.ear {
    padding-top: 20px;
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 44px;
    font-size: 44px;
    letter-spacing: 0.5px;
    padding-top: 30px;
}
.become {
    color: white;
    padding-top: 20px;
    width: 25%;
    height: 270px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
    text-align: center;
}
.ref {
    color: white;
    background-color: rgb(139, 4, 27); 
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    font-family: "Roboto Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 16px;
    font-size: 20px;
    letter-spacing: normal;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.sing-in {
    color: white;
    padding-top: 60px;
    width: 25%;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
}
.open {
    color: rgb(177, 171, 171);
    padding-top: 40px;
    width: 100%;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
}
.cool {
    color: black;
    padding-top: 60px;
    width: 100%;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
}
.new-ones {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 35px;
}
.one-of-kind {
    background-image: url("file:///C:/Users/Uba%20Rabi'u/Documents/Codewithjameel/Assignments/5%20Websites%20Assign/Marvel%20Insider/pic-cool-insider-featuredbanner-dsk-01.5e9d386b.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    padding-top: 80px;
}
.kind-text {
    width: 100%;
    float: right;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.swam {
    color: black;
    padding-top: 20px;
    width: 35%;
    float: right;
    height: 400px;
    text-decoration: none;
    align-items: baseline;
    padding-right: 20px;
}
.lam {
    color: white;
    background-color: rgb(139, 4, 27); 
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    font-family: "Roboto Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 16px;
    font-size: 20px;
    letter-spacing: normal;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.kind-button {
    padding-top: 50px;
}
.chance {
    background-image: url("file:///C:/Users/Uba%20Rabi'u/Documents/Codewithjameel/Assignments/5%20Websites%20Assign/Marvel%20Insider/pic-ironman-standinginsider-featuredbanner-dsk-02.c9f68238.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    padding-top: 80px;
}
.chance-text {
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    padding-left: 70px;
}
.lum {
    color: white;
    background-color: rgb(139, 4, 27); 
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-family: "Roboto Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 16px;
    font-size: 20px;
    letter-spacing: normal;
    width: 30%;
    height: 50px;
    padding-top: 15px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.chance-button {
    padding-left: 55px;
    padding-top: 20px;
}
.digital {background-image: url("file:///C:/Users/Uba%20Rabi'u/Documents/Codewithjameel/Assignments/5%20Websites%20Assign/Marvel%20Insider/pic-dragon-insider-featuredbanner-dsk-03.54aa864b.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    padding-top: 80px;
}
.flat-section {
    background-image: url("file:///C:/Users/Uba%20Rabi'u/Documents/Codewithjameel/Assignments/5%20Websites%20Assign/Marvel%20Insider/pic-bottom-background-insider-featuredbanner-dsk-04.33ee4496.jpg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    padding-top: 80px;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.art {
    padding-left: 50px;
    line-height: 16px;
    letter-spacing: normal;
}
.dum {
    width: 100%;
    font-family: sans-serif;
    font-size: 34px;
    line-height: 34px;
    font-weight: 600;
    padding-left: 5px;
    letter-spacing: 1px;
    padding-bottom: 30px;

}
.flat-section {
    padding-left: 25px;
}
.benefits {
    background-color: rgb(41, 40, 40);
    height: 530px;
    width: 100%;
    padding-left: 10px;
    color: white;
    padding-top: 50px;
}
.believer {
    width: 100%;
    font-family: sans-serif;
    font-size: 34px;
    line-height: 34px;
    font-weight: 600;
    padding-left: 5px;
    letter-spacing: 1px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}
.each {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}
.more-info {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
    color: rgb(139, 139, 139);

}
.marks {
    width: 100%;
    height: 300px;
}
.faq {
    width: 100%;
    height: 550px;
    background-color: white;
}
.frequently {
    width: 100%;
    font-family: sans-serif;
    font-size: 34px;
    line-height: 34px;
    font-weight: 600;
    padding-left: 5px;
    letter-spacing: 1px;
    padding-bottom: 30px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}
.what {
    padding-top: 15px;
    padding-left: 20px;
    background-color: rgb(221, 220, 220);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
    text-align: left;
    height: 55px;
    border-bottom: solid 0.1px rgb(156, 155, 155);
    font-weight: 400;
    font-size: 20px;
}
.terms-div {
    display: flex;
    padding-top: 80px;
    height: 600px;
}
.terms-cond {
    color: rgb(179, 142, 93);
    height: 200px;
    width: 200px;
    margin-right: auto;
    align-items: center;
    text-align: left;
    padding-top: 35px;
    padding-left: 15px;
    font-weight: 600;
}
.up-term {
    padding-right: 20px;
}
.actual {
    padding-top: 40px;
}
footer {
    background-color: black;
    color: white;
    height: fit-content;
    width: 100%;
}
.top-footer {
    display: flex;
    padding-top: 60px;
}
.m {
    width: 150px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: left;
}
.hu {
    padding-top: 20px;
}
.mim {
    width: 80px;
    height: 100px;
}
.jik {
    display: flex;
    width: 100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}
.down-footer {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80px;
    padding-top: 20px;
}